<div id="TuroranWarpra">
	<div class="titlebar">
		<div class="left">Warpra</div>
		<div class="right">
			<span class="zeny">Zeny <b class="zeny-count">0</b></span>
			<ui-button
				class="base close"
				bg="basic_interface/sys_close_off.bmp"
				hover="basic_interface/sys_close_on.bmp"
			></ui-button>
		</div>
	</div>
	<div class="intro">
		Warp to towns, fields, dungeons, and special maps you have visited.
		Locked tiles can be unlocked for <b>50,000,000 zeny</b>.
	</div>
	<div class="tabs">
		<button class="tab active" data-tab="town">Towns</button>
		<button class="tab" data-tab="field">Fields</button>
		<button class="tab" data-tab="dungeon">Dungeons</button>
		<button class="tab" data-tab="special">Special</button>
	</div>
	<div class="crumb" hidden>
		<button class="back">Back</button>
		<span class="crumb-label"></span>
	</div>
	<div class="grid"></div>
	<div class="modal" hidden>
		<div class="box">
			<div class="m-title">Unlock location?</div>
			<div class="m-body"></div>
			<div class="m-zeny"></div>
			<div class="m-actions">
				<button class="buy">Unlock</button>
				<button class="cancel">Cancel</button>
			</div>
		</div>
	</div>
</div>
